/* Estilo del cuerpo */
body {
    font-family: 'Montserrat', sans-serif;
    color: #fffdfd;
    background-image: url('https://img.freepik.com/fotos-premium/estampa-arte-cafeterias-espacio-escribir_1037884-1203.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.input-group {
    position: relative;
    margin-bottom: 1.2rem;
}

.input-group i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #000000;
}

input[type="text"],
input[type="password"] {
    width: 80%;
    padding: 0.8rem 0.8rem 0.8rem 35px;
    background-image: linear-gradient(to right top, #ff9748, #feae2c, #f2c900, #dae400, #b2ff00);
    margin-bottom: 1.2rem;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}

button {
    padding: 0.8rem;
    background-image: linear-gradient(to right top, #ffffff, #eaf9ff, #b4fbff, #64ffff, #00ffe8);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Estilos específicos para los botones de modificar y eliminar */
button[name='delete_product'] {
    background-color: #e74c3c; /* Rojo para eliminar */
}

button[name='edit_product'] {
    background-color: #3498db; /* Azul para modificar */
}

button:hover {
    opacity: 0.8; /* Efecto hover */
}

p {
    color: #ffffff;
}

h2 {
    color: #ffffff;
}

/* Estilo para el listado de productos */
ul {
    list-style-type: none; /* Sin viñetas en la lista */
    padding: 0; /* Sin padding por defecto */
}

li {
    padding: 10px; /* Espaciado interno en cada elemento de la lista */
    border-bottom: 1px solid #ccc; /* Línea divisoria entre productos */
    display: flex; /* Usar flexbox para alinear elementos dentro del li */
    justify-content: space-between; /* Espacio entre el texto y los botones */
}

/* Alineación de los botones a la derecha */
li div {
    display: flex; /* Usar flexbox para alinear los botones */
}
